# Local/Preview/Production마다 서로 다른 값을 설정합니다.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
APP_ENV=local
NEXT_PUBLIC_APP_URL=http://localhost:3000
